@model CartDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@Html.ValidationSummary("", new { @class = "text-danger" })

@if (Model != null && Model.CartDetails.Any())
{
    <form method="post">
        <input asp-for="CartHeader.UserId" hidden/>
        <input asp-for="CartHeader.CartHeaderId" hidden/>
        <input asp-for="CartHeader.CouponCode" hidden/>
        <input asp-for="CartHeader.DiscountTotal" hidden/>
        <input asp-for="CartHeader.OrderTotal" hidden/>
        <div>
            <span style="font-size:25px;" class="text-warning">Enter details and place order :</span>
            <br/>
        </div>
        <div class="border mt-2">
            <div class="container row">
                <div class="col-7">
                    <div class="row">
                        <div class="col-12">
                            <label class="col-form-label">First Name :</label>
                            <input asp-for="CartHeader.FirstName" class="form-control"/>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Last Name :</label>
                            <input asp-for="CartHeader.LastName" class="form-control"/>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Email :</label>
                            <input asp-for="CartHeader.Email" class="form-control"/>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Phone :</label>
                            <input asp-for="CartHeader.Phone" class="form-control"/>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">PickUp Time</label>
                            <div
                                class="input-group log-event"
                                id="datetimepicker1"
                                data-td-target-input="nearest"
                                data-td-target-toggle="nearest">
                                <input id="datetimepicker1Input" asp-for="CartHeader.PickupDateTime" class="form-control form_datetime" type="text" data-td-target="#datetimepicker1">
                                <span
                                    class="input-group-text"
                                    data-td-target="#datetimepicker1"
                                    data-td-toggle="datetimepicker">
                                    <i class="fas fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Card Number :</label>
                            <input asp-for="CartHeader.CardNumber" class="form-control"/>
                        </div>

                        <div class="col-12">
                            <label class="col-form-label">CVV :</label>
                            <input asp-for="CartHeader.CVV" class="form-control"/>
                        </div>

                        <div class="col-12 pb-4">
                            <label class="col-form-label">Expiry :</label>
                            <input asp-for="CartHeader.ExpiryMonthYear" placeholder="MMYY" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card mt-4">
                        <div class="card-body">
                            <div class=" d-none d-lg-block">
                                <div class="row text-danger">
                                    <div class="col-6">
                                        Product Details
                                    </div>

                                    <div class="col-3">
                                        Price
                                    </div>
                                    <div class="col-3">
                                        Count
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            @for(var i = 0; i < Model.CartDetails.Count(); i++)
                            {
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.CartDetailId)}"  )" value="@Model.CartDetails.ElementAt(i).CartDetailId" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.CartHeaderId)}"  )" value="@Model.CartDetails.ElementAt(i).CartHeaderId" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.ProductId)}"  )" value="@Model.CartDetails.ElementAt(i).ProductId" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.Count)}"  )" value="@Model.CartDetails.ElementAt(i).Count" type="hidden"/>

                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.CartHeader)}.{nameof(CartHeaderDto.CartHeaderId)}"  )" value="@Model.CartDetails.ElementAt(i).CartHeader.CartHeaderId" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.CartHeader)}.{nameof(CartHeaderDto.UserId)}"  )" value="@Model.CartDetails.ElementAt(i).CartHeader.UserId" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.CartHeader)}.{nameof(CartHeaderDto.CouponCode)}"  )" value="@Model.CartDetails.ElementAt(i).CartHeader.CouponCode" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.CartHeader)}.{nameof(CartHeaderDto.OrderTotal)}"  )" value="@Model.CartDetails.ElementAt(i).CartHeader.OrderTotal" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.CartHeader)}.{nameof(CartHeaderDto.DiscountTotal)}"  )" value="@Model.CartDetails.ElementAt(i).CartHeader.DiscountTotal" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.CartHeader)}.{nameof(CartHeaderDto.FirstName)}"  )" value="@Model.CartDetails.ElementAt(i).CartHeader.FirstName" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.CartHeader)}.{nameof(CartHeaderDto.LastName)}"  )" value="@Model.CartDetails.ElementAt(i).CartHeader.LastName" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.CartHeader)}.{nameof(CartHeaderDto.PickupDateTime)}"  )" value="@Model.CartDetails.ElementAt(i).CartHeader.PickupDateTime" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.CartHeader)}.{nameof(CartHeaderDto.Phone)}"  )" value="@Model.CartDetails.ElementAt(i).CartHeader.Phone" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.CartHeader)}.{nameof(CartHeaderDto.Email)}"  )" value="@Model.CartDetails.ElementAt(i).CartHeader.Email" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.CartHeader)}.{nameof(CartHeaderDto.CardNumber)}"  )" value="@Model.CartDetails.ElementAt(i).CartHeader.CardNumber" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.CartHeader)}.{nameof(CartHeaderDto.CVV)}"  )" value="@Model.CartDetails.ElementAt(i).CartHeader.CVV" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.CartHeader)}.{nameof(CartHeaderDto.ExpiryMonthYear)}"  )" value="@Model.CartDetails.ElementAt(i).CartHeader.ExpiryMonthYear" type="hidden"/>
                                
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.Product)}.{nameof(ProductDto.ProductId)}"  )" value="@Model.CartDetails.ElementAt(i).Product.ProductId" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.Product)}.{nameof(ProductDto.Name)}"  )" value="@Model.CartDetails.ElementAt(i).Product.Name" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.Product)}.{nameof(ProductDto.Price)}"  )" value="@Model.CartDetails.ElementAt(i).Product.Price" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.Product)}.{nameof(ProductDto.Description)}"  )" value="@Model.CartDetails.ElementAt(i).Product.Description" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.Product)}.{nameof(ProductDto.CategoryName)}"  )" value="@Model.CartDetails.ElementAt(i).Product.CategoryName" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.Product)}.{nameof(ProductDto.ImageUrl)}"  )" value="@Model.CartDetails.ElementAt(i).Product.ImageUrl" type="hidden"/>
                                <input name="@( $"{nameof(CartDto.CartDetails)}[{i}].{nameof(CartDetailDto.Product)}.{nameof(ProductDto.Count)}"  )" value="@Model.CartDetails.ElementAt(i).Product.Count" type="hidden"/>

                                <div class="row h-100">
                                    <div class="col-6">
                                        <span style="font-size:20px">@Model.CartDetails.ElementAt(i).Product.Name</span>
                                    </div>

                                    <div class="col-3" style="font-size:11px;">
                                        <span style="font-size:17px;">@Model.CartDetails.ElementAt(i).Product.Price.ToString("C")</span>

                                    </div>
                                    <div class="col-3" style="font-size:11px;">
                                        <span style="font-size:17px;">@Model.CartDetails.ElementAt(i).Count</span>
                                    </div>
                                </div>
                                <hr/>
                            }

                            <div class="row">
                                <div class="col-12 text-right pr-4 text-danger">
                                    Order Total : @Model.CartHeader.OrderTotal.ToString("C") <br/>
                                    @if (Model.CartHeader.DiscountTotal > 0)
                                    {
                                        <span class="text-success"> Order Discount: @Model.CartHeader.DiscountTotal.ToString("C")</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">

                                <div class="col-12 ">
                                    <button type="submit" class="btn btn-success form-control ">
                                        <span>Place Order</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}

@section styles
{
    <link href="@Url.Content("~/lib/tempus-dominus/css/tempus-dominus.min.css")" rel="stylesheet" type="text/css"/>
}

@section Scripts
{
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/tempus-dominus/js/tempus-dominus.min.js"></script>
    <script>
    $(document).ready(function() {
      const datetimepicker1 = new tempusDominus.TempusDominus(document.getElementById('datetimepicker1'));
    });
    </script>
}